.nav-item {
    text-decoration: none;
    color: #01200b !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #64a27f !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    display: inline-block;
}


.card {
    margin-top: 5%;
    color: #01200b;
    background-color: #acecc8;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    float: none;
}


h1 {
    text-align: center;
    color: #01200b;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer {
    font-size: 90%;
    text-align: center;
    background-color: honeydew;
    padding: 10px;
    display: block;
    unicode-bidi: isolate;
    font-family: 'Courier New', Courier, monospace
}


main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#border {border: 1px solid black;
text-align: center; margin: 10px;}



#details {
    text-align: center;
    margin-top: 10px;
}


#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.project {
    padding: 5px;
        max-width: 80%;
        height: auto;
        width: auto\9;
}


.email-button {
    background: #64a27f;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-left: 130px;
    padding: 4px 4px;
    text-decoration: none;
}

.email-button:hover {
    text-decoration: none;
    color: white;
}

h3 {text-align: center;
}

ul.no-bullets li{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.links li{list-style-type: none;
text-align: center;
margin-left: 35%;
background: #64a27f;
border-radius: 5px;
color: white;
max-width: 30%;
text-decoration: none;}

iframe {padding-left: 10%;
margin-top: 10px;}

h2 {text-align: center;}

.personal {margin-left: 50px;
    margin-top: 10px;
    max-width: 20%;
    height: auto;
    width: auto\9;
}

#about{border-spacing: 0; border-collapse: collapse; }


a { color: inherit; } 

.project1 {    padding: 5px;
    max-height: 50%;
    height: auto\9;
    width: auto;}
